In [7]:
#install mumoy as np 
# !pip install numpy 
import numpy as np
a= [1,2,3,4,5,6]
print(a)

[1, 2, 3, 4, 5, 6]

In [8]:
print(type(a))

<class 'list'>

In [9]:
sq_a = [i**2 for i in a]
print(sq_a)

[1, 4, 9, 16, 25, 36]

In [11]:
print(type(sq_a))

<class 'list'>

In [13]:
ad_a = [i+2 for i in a]
print(ad_a)

[3, 4, 5, 6, 7, 8]

In [15]:
array1 = np.array(a)
print(type(array1))

<class 'numpy.ndarray'>

In [17]:
array1.T

array([1, 2, 3, 4, 5, 6])

In [18]:
a+1

TypeError: can only concatenate list (not "int") to list

In [19]:
a+list([1])

[1, 2, 3, 4, 5, 6, 1]

In [20]:
a+str('h')

TypeError: can only concatenate list (not "str") to list

In [23]:
l = list(range(1,100,10))
print(l)

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]

In [24]:
%timeit [i**3 for i in l]

4.3 µs ± 905 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)